body {
	padding-top: 200px;
}

.container {
	width: 600px;
	margin: auto;
	padding: 40px 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

h1 {
	text-align: center;
	font-family: Arial;
}

input {
	width: 500px;
	margin: 0 auto 20px;
	display: block;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	color: #000;
	padding: 0 10px;
	border-radius: 4px;
	box-shadow: none;
	border: 2px solid #ccc;
}

button {
	width: 240px;
	height: 50px;
	line-height: 50px;
	font-size: 24px;
	text-transform: uppercase;
	margin: 0 0 0 38px;
	display: block;
	border: 2px solid #ccc;
	border-radius: 4px;
}

button[disabled="disabled"]{
	opacity: .4;
}